<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-controller="Settings" asp-action="Index">MidtermCSI350</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Employee" asp-action="GetAll">Employees Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Manager" asp-action="ManagerFromHtml">Manager Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Manager" asp-action="ManagerJson">Manager JSON/XML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Employee" asp-action="ShowAllJSON">Employees JSON/XML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Manager" asp-action="GetTextFile">Manager Txt File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Employee" asp-action="GetTextFile">Employees Txt File</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Employee" asp-action="Create">Create New Employee</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Manager" asp-action="Create">Create New Manager</a>
                </li>
            </ul>
        </div>
    </div>
</nav>